<h1> Data Science Tools and Ecosystem </h1>

In this workbook, Data science Tools and Ecosystem are summarized.

<strong> Objectives </strong>
- List of popular languages in Data Science
- List of commonly used libraries in Data Science
- List of commonly used Data Science tools
- Arithmetic expression in Python

Some of the popular languages that Data scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by data scientists include:

1. NumPy
2. Pandas
3. TensorFlow
4. Matplotlib

|Data Science Tools|
--------------
|JupyterLab|
|JupyterNotebook|
|Spyder|
|Rstudio|
|Apache Zeppelin|

<h3> Below are few examples of evaluating arithemetic expression in Python</h3>

In [3]:
# This is a simple arithmetic expression to multiply and then add integers.
(3*4)+5

17

In [5]:
# This will convert 200 minutes into hours by diving by 60.
200/60

3.3333333333333335

<h2> Author </h2>
Puwit Kattiyasuwong